@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
	border: none;
	outline: none;
}

button{
    border: none;
	outline: none;
    cursor: pointer;
    background: transparent;
}

body{
    width: 100%;
    height: 100vh;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/fondos/accesoYregistro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    position: relative;
    overflow: hidden;
    max-width: 600px;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px 60px 20px 60px;
}

.back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: #333;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back:hover{
    background-color: #222;
}

.back a{
    width: 100%;
    height: 100%;
    color: #999;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
}

.back a:hover{
    color: #ddd;
}

.formulario{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo{
    width: 100%;
    color: #555;
    display: block;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Montserrat';
}

.btnFB, .btnGG{
    z-index: 1;
    height: 50px;
    width: calc((100% - 20px) / 2);
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 0.4s;
    font-family: 'Montserrat';
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnFB::before, .btnGG::before{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    background: #222;
    border-radius: 10px;
    transition: all 0.4s;
}

.btnFB{
    color: #fff;
    background-color: #3b5998;
}

.btnFB i{
    font-size: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
}

.btnGG{
    color: #555;
    background-color: #fff;
}

.btnGG img{
    width: 30px;
    margin-right: 15px;
    padding-bottom: 3px;
}

.btnFB:hover,
.btnGG:hover{
    color: #fff;
}

.btnFB:hover:before,
.btnGG:hover:before{
    opacity: 0.5;
}

.usuario{
    padding: 30px 0px 10px 0px;
}

.contrasenia{
    width: 100%;
    padding: 13px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario span,
.contrasenia span{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.input-contenedor{
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
}

.txtUsuario,
.txtContrasenia{
    width: 100%;
    height: 50px;
    color: #333;
    display: block;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    background: transparent;
}

.btnOjo{
    position: absolute;
    right: 15px;
    top: 18px;
    width: auto;
    height: auto;
    z-index: 100;
    color: #555;
    cursor: pointer;
}

.CbtnIngresarCrear{
    width: 100%;
    margin-top: 20px;
}

.btnIngresarCrear{
    z-index: 1;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    border-radius: 10px;
    transition: all 0.4s;
    font-family: 'Poppins';
    background-color: #333;
}

.btnIngresarCrear::before{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: all 0.4s;
    background-color: #222;
}

.btnIngresarCrear:hover:before{
    opacity: 1;
}

.msmError{
    width: 100%;
    height: auto;
    display: none;
    color: #880000;
    margin-top: 15px;
    text-align: center;
}

.sinCuenta{
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.sinCuenta span{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.linkContraO,
.linkCrearIngresar{
    color: #999;
    font-size: 14px;
    margin-left: 5px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: right;
    border-bottom: 1px solid #999;
}

.linkContraO:hover,
.linkCrearIngresar:hover{
    cursor: pointer;
    color: #655fc5;
    text-decoration: none;
    border-color: #655fc5;
}

@media (max-width: 700px){
    .contenedor{padding: 20px 20px;}
    .login{padding: 20px 20px 20px 20px;}
    .btnFB, .btnGG{width: 100%;}
}

@media (max-width: 400px){
    .linkContraO{font-size: 12px;}
}

@media (max-height: 580px){
    body{height: auto;}
}
