
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #dfdfdf;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header{
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    background-color: #21618c;
}

.main{
    width: auto;
    text-align: center;
}

.main img{
    width: 100%;
}

.footer{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    text-align: center;
    background-color: #21618c;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: #21618c;
}

.footer a:hover{
    outline: none;
    color: #21618c;
    background-color: white;
    border: 2px solid transparent;
}
